body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #fdfdfd;
  font-family: 'Oxygen';
}

a{
  color: #048;
}

legend{
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
}

.centered{
  text-align: center;
}

.lead{
  padding-top: 10px;
}

.justified{
  text-align: justify;
}

input[class=input-xlarge] {
  height: 1.5em;
  font-size: 1.5em;
  line-height: 29px;
}

.btn-large{
  padding: 15px 20px;
  font-size: 1.7em;
}

.modal .btn, #resultContent .btn{
  color: #555;
}

#resultContent{
  display: none;
}

#shareButtons i{
  font-size: 3em;
  color: gray;
  cursor: pointer;
  padding-right: 30px;
  line-height: 0;
}

#shareButtons a:hover{
  color: #999;
}

#resultContent{
  padding-bottom: 20px;
}

#suggestion{
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}

#linkedinGhostButtonContainer{
  display: none;
}